.background {
    background-color: #FBF8EC;
}

.container {
    text-align: start;
}

.pathCompany {
    color: #8F8F8F;
}

.path {
    display: flex;
    gap: 24px;
}

.home {
    cursor: pointer;
}

.vacancies {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    text-align: start;
    padding-bottom: 80px;
}

.vacancy {
    background-color: white;
    padding: 32px;
}

.number {
    display: flex;
    gap: 10px;
}

.post {
    font-size: 24px;
    font-weight: 700;
}

.paragraph {
    font-size: 18px;
}

.text {
    font-size: 16px;
}

.textNum {
    font-size: 18px;
    text-decoration: underline;
}

@media (max-width: 1280px) {
   .background {
    padding: 0 20px;
   }

    .vacancies {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .vacancy {
        padding: 16px;
    }
}

@media (max-width: 768px) {
    .vacancies {
        grid-template-columns: auto;
    }
}